<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>145627378497-cnfr0o4mqhcmu1dsfjq4o7ou505u1i5l.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.145627378497-cnfr0o4mqhcmu1dsfjq4o7ou505u1i5l</string>
	<key>API_KEY</key>
	<string>AIzaSyBrrMIbTDIgXYucMDX2BEOSAQaWrc-4iIw</string>
	<key>GCM_SENDER_ID</key>
	<string>145627378497</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>cpsc445.cap3</string>
	<key>PROJECT_ID</key>
	<string>cap3-e91eb</string>
	<key>STORAGE_BUCKET</key>
	<string>cap3-e91eb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:145627378497:ios:ee8c8575132b8e8105e7c0</string>
</dict>
</plist>